<!-- Portfolio Grid Section -->
<section id="howItWorks" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How it works?</h2>
        <h3 class="section-subheading text-muted">
          <ol>
            <li style=" text-align: left;padding: 18px;">
              We first measure the current conversion rate to sale.
            </li>
            <li style=" text-align: left;padding: 18px;">
              We then apply latest marketing technologies to increase the
              current conversion rate to sale while the business owners can keep
              doing what they love.
            </li>
            <li style="text-align: left;padding: 18px;">
              Then as a result you get at least 1 more customer/month from your
              website. This amounts to increase in your profits.
            </li>
            <li style="text-align: left;padding: 18px;">
              And cost? Don't pay until you get results. 60 Days FREE Trial! So,
              Contact Now!
            </li>
          </ol>
        </h3>
      </div>
    </div>
    <div class="row" style="display: none;">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a
          href="#portfolioModal{{ post.modal - id }}"
          class="portfolio-link"
          data-toggle="modal"
        >
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            src="img/portfolio/{{ post.thumbnail }}"
            class="img-responsive img-centered"
            alt=""
          />
        </a>
        <div class="portfolio-caption">
          <h4>{{ post.title }}</h4>
          <p class="text-muted">{{ post.subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
